@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #D30000;
  --secondary: #000000;
  --accent: #5A5A5A;
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}